.font-size0 {
    font-size: 12px !important;
}

.font-size1 {
    font-size: 14px !important;
}

.font-size2 {
    font-size: 16px !important;
}

.font-size3 {
    font-size: 18px !important;
}

.font-size4 {
    font-size: 20px !important;
}

.font-size5 {
    font-size: 22px !important;
}

.mt-6 {
    margin-top: 4.5rem !important;
}

.mt-7 {
    margin-top: 6rem !important;
}

.mt-8 {
    margin-top: 7.5rem !important;
}

.min-height-1000 {
    min-height: 1000px;
}

.title_size1 {
    font-size: 1.25rem;
}

.title_size2 {
    font-size: 1.1rem;
}

.title_size3 {
    font-size: 1rem;
}

.title_huge {
    font-size: 20px;
    font-weight: bold;
}

.title_big {
    font-size: 18px;
    font-weight: bold;
}

.title_small {
    font-size: 16px;
    font-weight: bold;
}

.pd5 {
    padding: 5px
}

.pd10 {
    padding: 10px
}

.pd15 {
    padding: 15px
}

.pd20 {
    padding: 20px
}

.border {
    border: 1px solid rgb(220, 224, 224) !important;
}

.bd_bottom {
    border-bottom: 1px solid rgb(220, 224, 224) !important;
}

.bd_left {
    border-left: 1px solid rgb(220, 224, 224) !important;
}

.bd_top {
    border-top: 1px solid rgb(220, 224, 224) !important;
}

.bd_right {
    border-right: 1px solid rgb(220, 224, 224) !important;
}

.save_btn {
    width: 100px !important;
    height: 45px !important;
}
